/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2021, 10:48:16 AM
    Author     : Admin
*/

* {
  padding: 0;
  margin: 0;
}

body {
  display: block;
  text-align: center;
  background-color: #85DCBA;
  
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 200px;
  padding: 100px 50px;
  background-color: #faebefff;
  box-shadow:20px 20px 50px 10px pink inset, 10px 10px 8px #888888;
  border-radius: 10px;
  width: 300px;
}
a {
  text-decoration: none;
  color: #4caf50;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  outline-color: #4caf50;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 5px #4caf50;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 7px;
}
